@import "../main.scss";
.details{    
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.movie-details-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
}

.backdrop{
  backdrop-filter: blur(25px) contrast(0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-details{
  display: flex;
  @include breakpoint(tablet) {
    flex-direction: column;
  }
  @include breakpoint(laptop) {
    flex-direction: row;
  }
  flex-direction: row;
}
.media-poster{
  width: 33%;
}



.media-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: white;
  width: 66%;
}

.media-image-full{
  width: 300px;
  border: 5px solid white;
}
.title{
  font-size:25px;
  line-height: 0;
}
.rating .date{
  text-align: left;
}
